<!DOCTYPE html>
<html lang="en">

<head>
  <title>STREAK-X FRAMES |&mdash;</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700" />
  <link rel="stylesheet" href="/public/userAssets/fonts/icomoon/style.css" />

  <link rel="stylesheet" href="/public/userAssets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/userAssets/css/magnific-popup.css" />
  <link rel="stylesheet" href="/public/userAssets/css/jquery-ui.css" />
  <link rel="stylesheet" href="/public/userAssets/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/public/userAssets/css/owl.theme.default.min.css" />

  <link rel="stylesheet" href="/public/userAssets/css/aos.css" />

  <link rel="stylesheet" href="/public/userAssets/css/style.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search" />
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="" class="js-logo-clone">STREAK-X FRAMES</a>
              </div>
            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <% if (user) { %>
                    <!-- Display user profile icon if the user is logged in -->
                    <li>
                      <a href="/profile"><span class="icon icon-user"></span></a>
                    </li>
                    <% } else { %>
                      <!-- Display login and signup links if the user is not logged in -->
                      <li><a href="/login">Login</a></li>
                      <li>&</li>
                      <li><a href="/signup">Signup</a></li>
                      <% } %>

                        <% if(user) { %>
                          <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                          <li>
                            <a href="/cart" class="site-cart">
                              <span class="icon icon-shopping_cart"></span>

                            </a>
                          </li>
                          <% } %>
                            <li class="d-inline-block d-md-none ml-md-0">
                              <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a>
                            </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children">
              <a href="/">Home</a>
            </li>
            <li class="has-children">
              <a href="#">About</a>
            </li>
            <li class="has-children active"><a href="/shop">Shop</a></li>

            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="#">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Shop</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-9 order-2">
            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4">
                  <h2 class="text-black h5">Shop All</h2>
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="row mb-5">
                <% product.forEach(products=> { %>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <% if (products.offer) { %>
                      <% console.log("produccts :",products)%>
                      <div class="ribbons-wrapper ">
                        <div class="ribbon">
                          <span class="ribbon2 text-white p-2 "><strong>
                              <%= products.offer.discountAmount %>% Off
                            </strong></span>
                        </div>
                      </div>
                      <% } %>
                    <div class="block-4 text-center border position-relative">
                      <figure class="block-4-image">
                        <a href="/product?id=<%= products._id %>">
                          <img src="/public/adminAssets/product-images/<%= products.images[0] %>" alt="Product Image"
                            class="img-fluid" />
                        </a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3>
                          <a href="/product?id=<%= products._id %>">
                            <%= products.name %>
                          </a>
                        </h3>
                        <p class="mb-0">
                          <%= products.description %>
                        </p>
                        <p class="text-primary font-weight-bold">
                          <% if(!products.offer) {%>
                            ₹<%= products.price %>
                            <%}else if(products.category.offer){%>
                              <del>₹<%= products.price %></del><br>
                              ₹<%=products.discountedPrice%>
                            <%}else{%>
                              <del class="text-danger">₹<%=products.price%></del><br>
                              ₹<%=products.discountedPrice%>
                              <%}%>
                          </p>
                        <div class="product-actions d-flex justify-content-between align-items-center">
                          <% if(user && products.quantity>=1) { %>
                            <button class="btn btn-primary" onclick="postToCart('<%= products._id %>')">Add to
                              Cart</button>
                              <button class="wishlist-button btn btn-sm btn-outline-secondary p-0" onclick="addToWishlist('<%= products._id %>')">
                                <i id="wishlist-icon-<%= products._id %>" class="far fa-heart align-middle"></i>
                              </button>
                            <% }else if(products.quantity<=0 ) {%>
                              <p class="text-danger font-weight-bold">Currently Out Of Stock!</p>
                              <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>


            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            

            <div class="border p-4 rounded mb-4">
              

              

              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="site-section site-blocks-2">
              
          </div>
        </div>
      </div>
    </div>
  

    <script>
      function postToCart(productId) {
        fetch("/postToCart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ productId }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.value === 1) {
              swal({
                title: "Sorry",
                text: "Product is already added to the cart",
                icon: "warning",
                buttons: false, 
                dangerMode: true,
                timer: 1000, 
              });
            } else if (data.value === 0) {
              swal({
                title: "",
                text: "Add to cart success!!",
                icon: "success",
                timer: 2000
              });
            }
            console.log(data);
          })
          .catch((err) => {
            console.log(err);
          });
      }


      function addToWishlist(productId) {
        console.log("productId :",productId);
        fetch("/addToWishlist", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({productId:productId})
        })
          .then(response => response.json())
          .then(data => {
            if(data.add ===true){
              swal({
                title: "",
                text: "Add to wishlist success!!",
                icon: "success",
                timer: 2000
              });
            }else{
              swal({
                title: "Remove Success",
                text: "product removed from wishlist!!",
                icon: "success",
                timer: 2000
              });
            }
            console.log("Wishlist updated: ", data);
            
          })
          .catch(error => {
            console.error("Error adding product to wishlist: ", error);
          });
      }

     
    </script>

    <%- include("userLayouts/footer")%>
