<%- include('adminLayout/header')%>


<body>

  <div id="app">

    <nav id="navbar-main" class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item mobile-aside-button">
          <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
        </a>
        <div class="navbar-item">
          <div class="control"><input placeholder="Search everywhere..." class="input"></div>
        </div>
      </div>
      <div class="navbar-brand is-right">
        <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
          <span class="icon"><i class="mdi mdi-dots-vertical mdi-24px"></i></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item dropdown has-divider">
            <a class="navbar-link">
              <span class="icon"><i class="mdi mdi-menu"></i></span>
              <span>Sample Menu</span>
              <span class="icon">
                <i class="mdi mdi-chevron-down"></i>
              </span>
            </a>
            <div class="navbar-dropdown">
              <a href="profile.html" class="navbar-item">
                <span class="icon"><i class="mdi mdi-account"></i></span>
                <span>My Profile</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-settings"></i></span>
                <span>Settings</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-email"></i></span>
                <span>Messages</span>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log Out</span>
              </a>
            </div>
          </div>
          <div class="navbar-item dropdown has-divider has-user-avatar">
            <a class="navbar-link">
              <div class="user-avatar">
                <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe" class="rounded-full">
              </div>
              <div class="is-user-name"><span>John Doe</span></div>
              <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
            </a>
            <div class="navbar-dropdown">
              <a href="profile.html" class="navbar-item">
                <span class="icon"><i class="mdi mdi-account"></i></span>
                <span>My Profile</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-settings"></i></span>
                <span>Settings</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-email"></i></span>
                <span>Messages</span>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log Out</span>
              </a>
            </div>
          </div>
          <a href="https://justboil.me/tailwind-admin-templates" class="navbar-item has-divider desktop-icon-only">
            <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
            <span>About</span>
          </a>
          <a href="https://github.com/justboil/admin-one-tailwind" class="navbar-item has-divider desktop-icon-only">
            <span class="icon"><i class="mdi mdi-github-circle"></i></span>
            <span>GitHub</span>
          </a>
          <a title="Log out" class="navbar-item desktop-icon-only">
            <span class="icon"><i class="mdi mdi-logout"></i></span>
            <span>Log out</span>
          </a>
        </div>
      </div>
    </nav>

    <aside class="aside is-placed-left is-expanded">
      <div class="aside-tools">
        <div>
          Admin <b class="font-black">One</b>
        </div>
      </div>
      <div class="menu is-menu-main">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li class="--set-active-tables-html">
            <a href="/admin">
              <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
              <span class="menu-item-label">Dashboard</span>
            </a>
          </li>
        </ul>
        <p class="menu-label">Examples</p>
        <ul class="menu-list">
          <li class="--set-active-tables-html">
            <a href="/admin/customers">
              <span class="icon"><i class="mdi mdi-account-group"></i></span>
              <span class="menu-item-label">Customers</span>
            </a>
          </li>
          <li class="active">
            <a href="/admin/categories">
              <span class="icon"><i class="mdi mdi-folder-outline"></i></span>
              <span class="menu-item-label">Categories</span>
            </a>
          </li>
          <li class="--set-active-tables-html">
            <a href="/admin/offer">
              <span class="icon"><i class="mdi mdi-tag"></i></span>
              <span class="menu-item-label">Offer</span>
            </a>
          </li>
          <li class="--set-active-tables-html">
            <a href="/admin/coupon">
              <span class="icon"><i class="mdi mdi-ticket-percent"></i></span>
              <span class="menu-item-label">Coupons</span>
            </a>
          </li>
          <li class="--set-active-tables-html">
            <a href="/admin/products">
              <span class="icon"><i class="mdi mdi-package-variant-closed"></i></span>
              <span class="menu-item-label">Products</span>
            </a>
          </li>
          <li class="--set-active-tables-html">
            <a href="/admin/orders">
              <span class="icon"><i class="mdi mdi-cart-outline"></i></span>
              <span class="menu-item-label">Orders</span>
            </a>
          </li>
          <li class="--set-active-tables-html">
            <a href="/admin/sales">
              <span class="icon"><i class="mdi mdi-chart-line"></i>
              </span>
              <span class="menu-item-label">Sales</span>
            </a>
          </li>
          <li>
            <a href="/admin/adminLogout">
              <span class="icon"><i class="mdi mdi-lock"></i></span>
              <span class="menu-item-label">Logout</span>
            </a>
          </li>
      </div>
    </aside>

    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Admin</li>
          <li>Categories</li>
        </ul>
      </div>
    </section>

    <section class="section main-section">
      <div class="container-fluid">
        <div class="row justify-content-center mb-3">
          <div class="col-md-7">
            <form class="search-container d-flex p-0" action="/admin/add-categories" method="get">
            </form>
          </div>
        </div>
        <h2 class="my-3">Categories</h2>
        <div class="row">
          <div class="col-8">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Category name</th>
                  <th scope="col">Offer</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody id="table-category">
                <% if (locals.categories.length> 0) { %>
                  <% categories.forEach((item, i)=> { %>
                    <tr>
                      <td data-name="<%= item.id %>">
                        <%= item.categoryName %>
                      </td>
                      <td>
                        <b>
                          <% if (item.offer) { %>
                            <a>
                              <button type="button" class="removeCategoryOffer" onclick="removeCategoryOffer('<%=i%>')">
                                Remove
                              </button>
                            </a>
                            <input type="hidden" value='<%=item._id%>' id="categoryHidden<%=i%>">
                            <% } else { %>
                              <a>
                                <button type="button" class="applyCategoryOffer" onclick="showofferModal('<%=i%>')">
                                  Apply
                                </button>
                              </a>
                              <input type="hidden" value="<%=item._id%>" id="categoryHidden<%=i%>">
                              <% } %>
                        </b>
                      </td>
                      <td class="justify-content-center d-flex">
                        <button class="btn btn-list me-2 <%= item.isBlocked ? 'btn-danger' : 'btn-success' %> btn-block"
                          data-id="<%= item._id %>" id="<%= item.id %>" onclick="confirmShow(this)">
                          <%= item.isBlocked ? 'Unlist' : 'List' %>
                        </button>
                        <button class="btn btn-dark" data-id="<%= item.id %>" onclick="editCategories(this)">
                          Edit
                        </button>
                      </td>
                    </tr>
                    <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="4" class="text-center">No categories found</td>
                        </tr>
                        <% } %>
              </tbody>
            </table>
          </div>
          <div class="col-4 border-2 border-start border-dark h-50 px-4">
            <h5>ADD CATEGORY</h5>
            <div class="d-flex flex-column mt-3">
              <label for="add-category">
                <h6>Category name</h6>
              </label>
              <input type="text" name="" id="add-category" placeholder="Enter category name" />
              <button class="btn btn-success w-25 mt-3" onclick="addCategories(this)">
                ADD
              </button>
            </div>
            <div class="alert-category" id="category-alert"></div>
          </div>
        </div>
      </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="edit-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Rename category</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="error-modal"></p>
          <input type="text" class="form-control-plaintext border border-1 border-dark ps-3" id="cat-name" name="name"
            placeholder="Enter new name" onblur="removeWhiteSpace(this)" />
          <input type="hidden" name="id" id="cat-id" value="" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" onclick="sendEditRequest()">
            Rename
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Modal -->
  <div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="error-modal"></p>
          <p>Do you really want to <strong id="action-text">block</strong> this category?</p>
          <input type="hidden" name="id" id="action-id" value="" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-primary" onclick="categoryList(this)" id="action-btn">
            Block
          </button>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="modal fade" id="offerconfirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% if (offer.length> 0) { %>
              <div class="row " style="justify-content: space-between;">
                <% for (let i=0; i < offer.length; i++) { %>
                  <div class="col-md-6 mb-4 p-0 ">
                    <div class="card m-3">
                      <div class="card-body">
                        <h5 class="card-title">
                          <%= offer[i].name %>
                        </h5>
                        <p class="card-text">Discount: <%= offer[i].discountAmount %>%
                        </p>
                        <p class="card-text">Activation Date: <%= offer[i].activationDate.toLocaleDateString('en-US', {
                            year:'numeric', month: 'short' , day: '2-digit' }).replace(/\//g, '-' ) %>
                        </p>
                        <p class="card-text">Expiry Date: <%= offer[i].expiryDate.toLocaleDateString('en-US', {
                            year:'numeric', month: 'short' , day: '2-digit' }).replace(/\//g, '-' ) %>
                        </p>

                        <button class="btn Edit-category"
                          onclick="applyCategoryOffer('<%= offer[i]._id %>')">Apply</button>
                      </div>
                    </div>
                  </div>
                  <% } %>
              </div>
              <% } else { %>
                <p class="text-center">No offers available</p>
                <% } %>
          </div>
  </section>

  <style>
    .modal-backdrop {
      position: relative;
    }
  </style>
  <script type="text/javascript" src="/public/adminAssets/js/main.min.js?v=1628755089081"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script type="text/javascript" src="/public/adminAssets/js/chart.sample.min.js"></script>

  <script type="text/javascript" src="/public/adminAssets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1" /></noscript>
  <script>
    let index;
    function showofferModal(i) {
      console.log("iiiii:", i);
      index = i;
      $('#offerconfirmationModal').modal('show');
    }

    function removeCategoryOffer(x) {
      const categoryId = document.getElementById(`categoryHidden${x}`).value;
      fetch("/admin/removeCategoryOffer", {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ categoryId })
      })
        .then((response) => response.json())
        .then(data => {
          if (data.success == true) {
            Swal.fire({
              titel: "Success",
              text: "offer removed successfully!",
              icon: "success",
              confirmButtonText: "OK",
            })
              .then(() => {
                document.location.reload();
              })
          }
        })
        .catch((error)=>{
          console.log("error on remove category offer:",error);
        })
    }

    function applyCategoryOffer(x) {
      const offerId = x;
      const categoryId = document.getElementById(`categoryHidden${index}`).value;
      fetch("/admin/applyCategoryOffer", {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ offerId, categoryId })
      })
        .then((response) => response.json())
        .then(data => {
          if (data.success == true) {
            Swal.fire({
              titel: "Success",
              text: "offer applied successfully!",
              icon: "success",
              confirmButtonText: "OK",
            })
              .then(() => {
                document.location.reload();
              })
          }
        })
    }
  </script>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
  
<%- include('adminLayout/footer')%>
