<!DOCTYPE html>
<html lang="en" class="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Product Page</title>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- Tailwind is included -->
  <link rel="stylesheet" href="/public/adminAssets/css/main.css?v=1628755089081">


  <meta name="description" content="Admin One - free Tailwind dashboard">

  <meta property="og:url" content="https://justboil.github.io/admin-one-tailwind/">
  <meta property="og:site_name" content="JustBoil.me">
  <meta property="og:title" content="Admin One HTML">
  <meta property="og:description" content="Admin One - free Tailwind dashboard">
  <meta property="og:image" content="https://justboil.me/images/one-tailwind/repository-preview-hi-res.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="960">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="Admin One HTML">
  <meta property="twitter:description" content="Admin One - free Tailwind dashboard">
  <meta property="twitter:image:src" content="https://justboil.me/images/one-tailwind/repository-preview-hi-res.png">
  <meta property="twitter:image:width" content="1920">
  <meta property="twitter:image:height" content="960">


  <style>
    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 10px;
    }

    .image-container {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      /* Maintain a 1:1 aspect ratio */
      overflow: hidden;
      border-radius: 5px;
      position: relative;
    }

    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>

</head>

<body>


  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div>
        STREAK-X <b class="font-black">FRAMES</b>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li class="--set-active-tables-html">
          <a href="/admin">
            <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>
      </ul>
      <p class="menu-label">Examples</p>
      <ul class="menu-list">
        <li class="--set-active-tables-html">
          <a href="/admin/customers">
            <span class="icon"><i class="mdi mdi-account-group"></i></span>
            <span class="menu-item-label">Customers</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="/admin/categories">
            <span class="icon"><i class="mdi mdi-folder-outline"></i></span>
            <span class="menu-item-label">Categories</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="/admin/offer">
            <span class="icon"><i class="mdi mdi-tag"></i></span>
            <span class="menu-item-label">Offer</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="/admin/coupon">
            <span class="icon"><i class="mdi mdi-ticket-percent"></i></span>
            <span class="menu-item-label">Coupons</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="/admin/products">
            <span class="icon"><i class="mdi mdi-package-variant-closed"></i></span>
            <span class="menu-item-label">Products</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="/admin/orders">
            <span class="icon"><i class="mdi mdi-cart-outline"></i></span>
            <span class="menu-item-label">Orders</span>
          </a>
        </li>
        <li class="--set-active-tables-html">
          <a href="/admin/sales">
            <span class="icon"><i class="mdi mdi-chart-line"></i>
            </span>
            <span class="menu-item-label">Sales</span>
          </a>
        </li>
        <li>
          <a href="/admin/adminLogout">
            <span class="icon"><i class="mdi mdi-lock"></i></span>
            <span class="menu-item-label">Logout</span>
          </a>
        </li>
    </div>
  </aside>

  <section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <ul>
        <li>Admin</li>
        <li>Edit-Product</li>
      </ul>
    </div>
  </section>


  <div class="card-content">
    <form id="editForm" enctype="multipart/form-data" method="post" >
      <div class="field">
        <label class="label">Product Name</label>
        <div class="control icons-left">
          <input class="input" type="text" id="name" name="name" placeholder="Product Name" value="<%= product.name %>"
            required>
          <span class="icon left"><i class="mdi mdi-account"></i></span>
        </div>
        <span id="nameError" class="text-danger"></span>
      </div>
      <input type="hidden" value="<%= product._id %>" name="id">
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" id="description" name="description" placeholder="Product Description"
            required><%= product.description %></textarea>
        </div>
        <span id="descriptionError" class="text-danger"></span>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <!-- Dynamically load categories from the server/database -->
            <select name="category">
              <% if(categories.length> 0) { %>
                <option value="" disabled selected hidden>
                  <%= product.category %>
                </option>
                <% categories.forEach((item)=> { %>
                  <option value="<%= item.categoryName %>" <%=(item._id.toString()===(product?.category?.toString()
                    || '' )) ? 'selected' : '' %>><%= item.categoryName %>
                  </option>
                  <% })} else { %>
                    <option value="" disabled selected hidden>
                      No categories found
                    </option>
                    <% } %>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Price</label>
        <div class="control icons-left">
          <input class="input" type="number" id="price" name="price" placeholder="Price" value="<%= product.price %>"
            required>
          <span class="icon left"><i class="mdi mdi-currency-usd"></i></span>
        </div>
        <span id="priceError" class="text-danger"></span>
      </div>
      <div class="field">
        <label class="label">Quantity</label>
        <div class="control icons-left">
          <input class="input" type="number" id="quantity" name="quantity" placeholder="Quantity"
            value="<%= product.quantity %>" required>
          <span class="icon left"><i class="mdi mdi-numeric"></i></span>
          <span id="quantityError" class="text-danger"></span>
        </div>
      </div>
      <div class="field">
        <label class="label">Product Images</label>
        <div class="selected-images">
            <label class="label">Selected Images:</label>
            <div class="row" style="display: flex; flex-wrap: nowrap; overflow-x: auto;" id="productImages">
                <!-- Display selected images here in a row -->
                <% product?.images?.forEach((image, index)=> { %>
                    <div style="position: relative;">
                        <label for="fileInput<%= index %>">
                            <img src="/public/adminAssets/product-images/<%= image %>" alt="Product Image" class="img-thumbnail"
                                style="max-width: 100%; height: auto; margin-right: 10px; cursor: pointer;" />
                        </label>
                        <button type="button" class="btn btn-danger delete-btn" data-index="<%= index %>"
                            style="position: absolute; top: 5px; right: 5px;">Delete</button>
                        <input type="file" id="fileInput<%= index %>" name="product-images" style="display: none;"
                            onchange="updateImage(this, '<%= index %>')" />
                        <input type="hidden" id="imageIndex" name="imageIndex" value="<%= index %>" />
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

      <div class="field grouped">
        <div class="control">
          <button type="submit" id="save-button" class="button green">
            Save Changes
          </button>
        </div>
        <div class="control">
          <button type="reset" class="button red">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/public/adminAssets/js/main.min.js?v=1628755089081"></script>
  <script>
  </script>

  <script>



    let latestIndex = 0;
    function updateImage(input, index) {
      latestIndex = index;
      console.log("latest index :", latestIndex);
      const file = input.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          document.querySelectorAll('.img-thumbnail')[index].src = e.target.result;
          product.images[index] = file.name;
        };
        reader.readAsDataURL(file);
      }
    }



    document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("editForm");
    const productId = window.location.pathname.split("/").pop();
    form.addEventListener("submit", function (event) {
        event.preventDefault();

        const formData = new FormData(form);
        formData.append("imageIndex", latestIndex)
        console.log("form : ", formData);

        fetch(`/admin/editProduct/${productId}`, {
            method: "POST",
            body: formData,
            headers: {
            }
        })
        .then((response) => {
            console.log("response :", response);
            if (response.ok) {
                return response.json(); 
                throw new Error("Error occurred during request");
            }
        })
        .then((data) => {
            if (data && data.success === true) {
                swal.fire({
                    icon: "success",
                    title: "Success",
                    text: "Product Edit Successful"
                }).then(() => {
                    window.location.href = `/admin/products`;
                });
            } else {
                throw new Error("Product edit failed");
            }
        })
        .catch((error) => {
            console.log("Error on frontend:", error);
            swal.fire({
                icon: "error",
                title: "Error",
                text: "An error occurred while editing the product"
            });
        });
    });
});

    
    document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("editForm").addEventListener("submit", function (event) {
      const name = document.getElementById("name").value.trim();
      if (name.trim() === "") {
        document.getElementById("nameError").innerText = "name is required";
        event.preventDefault();
      } else {
        document.getElementById("nameError").innerText = "";
      }
      //price validation
      const price = document.getElementById("price").value.trim();
      if (price === "" || Number(price) <= 0 || price.toString().startsWith("0")) {
        const priceError = document.getElementById("priceError");
        priceError.innerText = "Please enter a valid price greater than 0!";
        event.preventDefault();
      } else {
        document.getElementById("priceError").innerText = "";
      }
      //description validation
      const description = document.getElementById("description").value.trim();
      if (description === "") {
        const descriptionError = document.getElementById("descriptionError");
        descriptionError.innerText = "Please add a description!";
        event.preventDefault();
      } else {
        document.getElementById("descriptionError").innerText = "";
      }

      //Quanity validation
      const quantity = document.getElementById("quantity").value.trim();
      if (quantity === "" || Number(quantity) <= 0 || quantity.toString().startsWith("0")) {
        const quantityError = document.getElementById("quantityError");
        quantityError.innerText = "Please enter a valid quantity greater than 0!";
        event.preventDefault();
      } else {
        document.getElementById("quantityError").innerText = ""
      }
      //dynamically clearing the error message when user interacts on input

      document.getElementById("name").addEventListener("input", function () {
        document.getElementById("nameError").innerText = "";
      })

      document.getElementById("quantity").addEventListener("input", function () {
        document.getElementById("quantityError").innerText = "";
      })

      document.getElementById("description").addEventListener("input", function () {
        document.getElementById("descriptionError").innerText = "";
      })

      document.getElementById("price").addEventListener("input", function () {
        document.getElementById("priceError").innerText = "";
      })
    })
  })

  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function() {
            const index = this.getAttribute('data-index');
            const productId = window.location.pathname.split("/").pop();
            console.log("image to be deleted :", index);

            // Remove the image and associated input fields from the DOM
            document.querySelectorAll('.img-thumbnail')[index].parentNode.remove();
            document.querySelectorAll(`input[type="file"][id^="fileInput${index}"]`).forEach(input => {
                input.remove();
            });

            // Send request to delete image from backend
            fetch(`/admin/editProduct/${productId}`, {
                method: "PATCH",
                body: JSON.stringify({ index, productId }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error("Network response was not ok.");
            })
            .then(data => {
                console.log("Response from backend:", data);
                if(data.success===true){
                  swal.fire({
                    icon: "success",
                    title: "Success",
                    text: "image deleted successfully"
                })
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    });
});

  </script>


  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1" /></noscript>

  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>

</html>